{% load static %}

<footer>
    <!-- Action Bar -->
    <section></section>
    <!-- Main Footer -->
    <section class="container bg-navy white-text text-md-start text-center">
        <div class="row">
            <!-- Address -->
            <div class="col-md-3 fw-400 footer-text">
                <h6 class="footer-header fw-600">Point Construction</h6>
                <p>Point Construction</p>
                <p>15 The Point,</p>
                <p>Nottingham</p>
                <p>NG1 1LL</p>
            </div>
            <!-- Services -->
            <div class="col-md-3 fw-400 footer-text">
                <h6 class="footer-header fw-600">Our Services</h6>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our new builds page"
                        >New Builds</a
                    >
                </p>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our landscaping page"
                        >Landscaping</a
                    >
                </p>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our apartment blocks page"
                        >Apartment Blocks</a
                    >
                </p>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our residential refurbishment page"
                        >Residential Refurbishment</a
                    >
                </p>
            </div>
            <!-- About -->
            <div class="col-md-3 fw-400 footer-text">
                <h6 class="footer-header fw-600">About us</h6>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our our history page"
                        >Our History</a
                    >
                </p>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our team page"
                        >Our Team</a
                    >
                </p>
                <p>
                    <a
                        class="white-text"
                        href=""
                        aria-label="navigate to our ethos page"
                        >Our Ethos</a
                    >
                </p>
            </div>
            <!-- Contact Us -->
            <div class="col-md-3 fw-400 footer-text">
                <h6 class="footer-header fw-600">Contact Us</h6>
                <p>0115 971 8303</p>
                <p>sales@point.co.uk</p>
            </div>
        </div>
    </section>
</footer>
