{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock %}

<header class="bg-navy">
    <section class="header-outer bg-white">
        <div class="header-inner">

        </div>
    </section>
    <section class="banner-outer">
        <div class="banner-inner">
            <div class="banner-text-outer">
                <div class="banner-text-inner">
                    <p class="banner-text-top white-text fw-300 d-flex justify-content-xxl-start justify-content-center">creating genuinely affordable housing</p>
                    <p class="banner-text-bottom white-text fw-300 d-flex justify-content-xxl-end justify-content-center">making a difference to communities</p>
                </div>
            </div>
            <div class="products-link-outer">
                <div class="products-link-inner d-flex justify-content-center">
                    <a href="#" aria-label="see all our products" class="products-link text-white fw-400 d-flex align-self-end">SEE OUR PRODUCTS</a>
                </div>
            </div>
        </div>
    </section>
</header>